/* Body */
body {
  font-family: 'Roboto',;
  font-size: 14px;
  line-height: 1.6;
  background-color: #f6f3ef;
  color: rgba(24, 24, 53, 0.8);
  --link-color: #927e36;
}

/* Dark mode body */
.dark-mode body {
  background-color: #333333;
  color: #ebf4f1;
  --link-color: #ffdd65;
}

/* Header, Footer */
body header {
  background-color: #ffdd67;
  color: inherit;
}
body footer {
  background-color: #1f1f1f;
  color: inherit;
}

/* Dark mode header/footer */
.dark-mode header {
  background-color: #7e775d;
  color: #ebf4f1;
}
.dark-mode footer {
  background-color: #1f1f1f;
  color: #ebf4f1;
}

/* Titles */
h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  line-height: 1.4;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 3.5rem;
  font-weight: bold;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: underline;
}
  
/* Hover */
a:hover {
  opacity: 0.8;
}