/* Body */
body {
  font-family: 'Roboto',;
  font-size: 14px;
  line-height: 1.6;
  background-color: #f6f3ef;
  color: rgba(24, 24, 53, 0.8);
  --link-color: #1a0dab;
}

/* Dark mode body */
.dark-mode body {
  background-color: #575757;
  color: #ebf4f1;
  --link-color: #cee7ff;
}

/* Header, Footer */
body header {
  background-color: #ffffff;
  color: inherit;
}
body footer {
  background-color: #1f1f1f;
  color: inherit;
  --link-color: #ffffff;
}

/* Dark mode header/footer */
.dark-mode header {
  background-color: #1f1f1f;
  color: #ebf4f1;
}
.dark-mode footer {
  background-color: #1f1f1f;
  color: #ebf4f1;
}

/* Sidebar */
.layout > :first-child {
  background-color: #ffe787;
}
/* Dark mode Sidebar */
.dark-mode .layout > :first-child {
  background-color: #524100;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  line-height: 1.4;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: underline;
}
  
/* Hover */
a:hover {
  opacity: 0.8;
}